<div class="bg-principal-color p-5">

  <div class="card-group ">
    <div class="card">
      <div class="container-img">
        <img src="../../../../assets/images/macair.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">250.000</h5>
        <p class="card-text">MAC AIR 2020 M1</p>
      </div>
      <div class="card-footer">
        <button class="p-button-warning p-1" (click)="spendTokens(250000)">Comprar</button>
      </div>
    </div>
    <div class="card">
      <div class="container-img">
        <img src="../../../../assets/images/pelota.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">10.000</h5>
        <p class="card-text">PELOTA LALIGA 20-21</p>
      </div>
      <div class="card-footer">
        <button class="p-button-warning p-1" (click)="spendTokens(10000)" >Comprar</button>
      </div>
    </div>
    <div class="card">
      <div class="container-img">
        <img src="../../../../assets/images/googleplay.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">3.000</h5>
        <p class="card-text">TARJETA GOOGLE PLAY 10€</p>
      </div>
      <div class="card-footer">
        <button class="p-button-warning p-1" (click)="spendTokens(3000)">Comprar</button>
      </div>
    </div>
    <div class="card">
      <div class="container-img">
        <img src="../../../../assets/images/iphone11pro.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title align-text-top">150.000</h5>
        <p class="card-text">IPHONE 11 PRO</p>
      </div>
      <div class="card-footer">
        <button class="p-button-warning p-1" (click)="spendTokens(150000)">Comprar</button>
      </div>
    </div>
  </div>
</div>
