<div class="card-group ">
    <div class="card">
      <div class="container-img">
        <img src="../../../../assets/images/ttokens.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Puñado de TOKENS</h5>
        <p class="card-text">1000 Tokens 10€</p>
      </div>
      <div class="card-footer">
        <button class="p-button-warning p-1" (click)="buyTokens(1000)">Comprar TOKENS</button>
      </div>
    </div>
    <div class="card">
      <div class="container-img">
        <img src="../../../../assets/images/ttokens.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Saco de TOKENS</h5>
        <p class="card-text">2500 Tokens 20€</p>
      </div>
      <div class="card-footer">
        <button class="p-button-warning p-1" (click)="buyTokens(2500)">Comprar TOKENS</button>
      </div>
    </div>
    <div class="card">
      <div class="container-img">
        <img src="../../../../assets/images/ttokens.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Caja de TOKENS</h5>
        <p class="card-text">6000 tokens 40€</p>
      </div>
      <div class="card-footer">
        <button class="p-button-warning p-1" (click)="buyTokens(6000)">Comprar TOKENS</button>
      </div>
    </div>
    <div class="card">
      <div class="container-img">
        <img src="../../../../assets/images/ttokens.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Cofre de TOKENS</h5>
        <p class="card-text">12000 Tokens 90€</p>
      </div>
      <div class="card-footer">
        <button class="p-button-warning p-1" (click)="buyTokens(12000)">Comprar TOKENS</button>
      </div>
  </div>
</div>
