<div class="row">
  <h1 (click)="togglePreview()">Ronda {{ronda.roundNumber}}</h1>
  <ng-container *ngIf="previewExpanded">
    <div class="col-md-4" *ngFor="let match of matches">
      <app-admin-detall-match [match]="match"></app-admin-detall-match>
    </div>
    <button class="btn btn-primary" (click)="obtenerGanadores()">Obtener Ganadores</button>
  </ng-container>
  <div role="separator" ng-reflect-ng-class="[object Object]" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left"><div class="p-divider-content"></div></div>
</div>
