<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top border-danger bg-dark">
  <div class="col-md-4 d-flex align-items-center ms-4">
      <a href="#" class=" me-3 mb-md-0 text-decoration-none lh-1">
          <img class="m-t-21" src="../../../../assets/images/logoVersusWhite.png" alt="no" width="30">
      </a>
      <span class=" mb-md-0 text-white">© TVersus 2023, Inc</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-4">
      <li class="ms-3">
          <a class="text-white" href="https://twitter.com/TVersus_">
              <i class="bi bi-twitter"></i>
          </a>
      </li>
      <li class="ms-3">
          <a class="text-white" href="https://www.facebook.com/profile.php?id=100090303109253&sk=about">
              <i class="bi bi-facebook"></i>
          </a>
      </li>
      <li class="ms-3">
          <a class="text-white" href="https://www.instagram.com/project_tversus/">
              <i class="bi bi-instagram"></i>
          </a>
      </li>
  </ul>
</footer>
